<div class="jumbotron">
  <h1 class="title">Wonderful Job ♡</h1>
  <p class="slogan">Get the most suitable job here!</p>
  <p class="lead">
    <a class="btn btn-danger btn-lg" href="/jobs" role="button">Apply Now</a>
  </p>
</div>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="pannel panel-default">
          <div class="panel-heading">
            <h3 class="text-center">Hunter</h3>
          </div>
          <div class="panel-body">
            <div class="trix-content">
              <p><strong>You can find lots of high quality candidates here.</strong></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="pannel panel-default">
          <div class="panel-heading">
            <h3 class="text-center">Applicator</h3>
          </div>
          <div class="panel-body">
            <p><strong>You can find lots of high quality jobs here.</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="https://ws2.sinaimg.cn/large/006tNc79gy1fic5w3ez7ij30740740sj.jpg">
          <div class="caption">
            <h3>Shanghai China</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="https://ws1.sinaimg.cn/large/006tNc79gy1fic5ursddoj3074074mwy.jpg">
          <div class="caption">
            <h3>example@gmail.com</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="https://ws4.sinaimg.cn/large/006tNc79gy1fic5x5lxkfj3074074t8i.jpg">
          <div class="caption">
            <h3>021-12345678</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
