<div class="pull-right">
  <%= link_to("Add Job", new_admin_job_path, class: "btn btn-default") %>
</div>

<br><br>

<div class="col-md-12">
<table class="table table-boldered">
  <thead>
    <tr>
      <th>职位</th>
      <th>简历数量</th>
      <th>薪资下限</th>
      <th>薪资上限</th>
      <th>管理选项</th>
      <th>发布时间</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "job_item", :collection => @jobs, :as => :job %>
  </tbody>
</table>
</div>
